@charset "utf-8";


/* reset */
.container_postbtn div,.container_postbtn dl,.container_postbtn dt,.container_postbtn dd,.container_postbtn ul,.container_postbtn ol,.container_postbtn li,
.container_postbtn fieldset,.container_postbtn legend,.container_postbtn textarea,.container_postbtn p,.container_postbtn blockquote,.container_postbtn th,
.container_postbtn td,.container_postbtn input,.container_postbtn select,.container_postbtn button, .layer_post button,.layer_tooltip button, .layer_tooltip p, .layer_tooltip div {margin:0;padding:0}
.container_postbtn fieldset,.container_postbtn img{border:0 none}
.container_postbtn dl,.container_postbtn ul,.container_postbtn ol,.container_postbtn menu,.container_postbtn li{list-style:none}
.container_postbtn blockquote, .container_postbtn q{quotes: none}
.container_postbtn blockquote:before, .container_postbtn blockquote:after,.container_postbtn q:before, .container_postbtn q:after{content:'';content:none}
.container_postbtn input,.container_postbtn select, .container_postbtn textarea,.container_postbtn button, .layer_post button,.layer_tooltip button{vertical-align:middle}
.container_postbtn input::-ms-clear{display:none}
.container_postbtn button, .layer_post button,.layer_tooltip button{border:0 none;background-color:transparent;cursor:pointer;outline:none}
.container_postbtn button:focus, .layer_post button:focus,.layer_tooltip button:focus{outline: 1px dotted #212121;outline: 5px auto -webkit-focus-ring-color;}
.container_postbtn th,.container_postbtn td,.container_postbtn input,.container_postbtn select,.container_postbtn textarea,.container_postbtn button, .layer_post button,.layer_tooltip button{font-size:13px;line-height:1.5;font-family:Noto Sans DemiLight,AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif !important;-webkit-font-smoothing: antialiased} /* color값은 디자인가이드에 맞게사용 */
.container_postbtn a{color:#333;text-decoration:none}
.container_postbtn a:active, .container_postbtn a:hover{text-decoration:underline}
.container_postbtn a:active{background-color:transparent}
.container_postbtn address,.container_postbtn caption,.container_postbtn cite,.container_postbtn code,.container_postbtn dfn,.container_postbtn em,.container_postbtn var{font-style:normal;font-weight:normal}
.container_postbtn *, .layer_post *, .layer_tooltip * {letter-spacing: normal}

.no_scroll,
.no_scroll body{height:100%;overflow:hidden;}
.screen_out{overflow:hidden;position:absolute;width:0;height:0;line-height:0;text-indent:-9999px}
.container_postbtn{padding:35px 0;position:relative;clear:both;}/* 2019-01-23 수정 */
.container_postbtn:after{content:'';display:block;clear:both}
.ico_postbtn ,
.container_postbtn .ico_postbtn, .container_postbtn .btn_menu_toolbar .img_common_tistory,
.bundle_ccl .ico_postbtn{display:inline-block;overflow:hidden;background:url(//t1.daumcdn.net/tistory_admin/static/admin/editor/ico_postbtn_190118.png) no-repeat;vertical-align:top;text-indent:-9999px}/* 2019-02-28 수정 */

/* 좌측 공감,sns,신고 버튼 */
/* 2019-01-18 추가 */
.container_postbtn .btn_post{height:30px;padding:0 6px;font-size:0 !important;line-height:0 !important;font-family:"Noto Sans DemiLight",AppleSDGothicNeo,"Malgun Gothic","맑은 고딕","돋움",dotum,sans-serif !important;color:inherit !important;}/* 2019-03-04 수정 */
.container_postbtn .btn_post .txt_like{display:inline-block;margin:-1px 0 0;font-size:13px !important;font-family:"Noto Sans DemiLight",AppleSDGothicNeo,"Malgun Gothic","맑은 고딕","돋움",dotum,sans-serif !important;line-height:19px !important;color:inherit !important;vertical-align:top}/* 2019-03-14 수정 */
/*.container_postbtn .btn_post .txt_like_type1{color:#000}*/ /* 2019-03-04 삭제 */
.container_postbtn .btn_post .ico_postbtn{width:14px;height:14px;max-width:15px}/* 2019-03-21 수정 */
.container_postbtn.follwing .ico_check{display:inline-block}
.container_postbtn .btn_post .empathy_up_without_ani .ico_like{background-position:-120px -20px}/* 2019-03-04 수정 */
.container_postbtn .txt_tool_id{display:none}
.container_postbtn .btn_post .ico_like{width:15px;margin:3px 4px 0 0;background-position:-100px -20px}/* 2019-03-14 수정 */
.container_postbtn .btn_post .ico_sns{background-position:-40px 0}/* 2019-03-04 수정 */
.container_postbtn .btn_post .ico_report{background-position:-60px 0;line-height:30px}/* 2019-03-04 수정 */
.container_postbtn .btn_post .ico_statistics{width:13px;height:15px;margin:-1px 0 0;background-position:-80px -40px}/* 2019-03-06 수정 */
.container_postbtn .btn_post .ico_share{width:13px;height:15px;margin:-1px 0 0 0;background-position:-100px 0}/* 2019-03-08 수정 */
.container_postbtn .btn_post .ico_etc{height:4px;margin-left:-1px;background-position:-120px 0}/* 2019-03-11 수정 */
.container_postbtn .btn_menu_toolbar{width:80px;height:32px;padding:0;border:1px solid rgba(185,185,185,.5);border-radius:16px;font-size:0 !important;line-height:30px;color:inherit;box-sizing:border-box;font-family:"Noto Sans DemiLight",AppleSDGothicNeo,"Malgun Gothic","맑은 고딕","돋움",dotum,sans-serif}/* 2019-03-06 수정 */
.container_postbtn .btn_menu_toolbar .txt_state{margin:0 0 0 -1px;font-size:13px !important;line-height: inherit !important;}
.container_postbtn .btn_menu_toolbar .ico_check_type1{display:none;width:9px;height:7px;margin:12px 0 0 3px;background-position:-120px -10px}/* 2019-03-14 수정 */
.container_postbtn .btn_menu_toolbar.following .ico_check_type1{display:inline-block}/* 2019-02-28 수정 */
/*.btn_share + .layer_post{top:-180px;left:-3px}
.btn_etc1 + .layer_post{left:0;top:-120px}
.btn_etc2 + .layer_post{left:0;top:40px}*/ /* 2019-03-04 삭제 */
/* END 2019-01-18 추가 */

.container_postbtn .postbtn_like{float:left;padding:0 9px;border-radius:16px;border:1px solid #959595;border-color:rgba(185,185,185,0.5);font-size:0 !important}
.container_postbtn .postbtn_like .wrap_btn{float:left;position:relative}/* 2019-01-23 추가 */
.container_postbtn .postbtn_like + .btn_menu_toolbar{margin:0 0 0 6px}/* 2019-02-28 수정 */
/*.container_postbtn .postbtn_like .like_btn{float:left}
.container_postbtn .postbtn_like label{float:left;overflow:hidden;height:30px;padding:0 8px;line-height:28px;cursor:pointer}
.container_postbtn .postbtn_like .ico_bar{float:left;overflow:hidden;width:1px;height:14px;margin:8px 0 0;font-family:AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif !important;font-size:1px;background:#959595;background:rgba(149,149,149,0.25)}
.container_postbtn .postbtn_like .inp_btn{position:absolute;top:-20px;left:-99999px;width:1px;height:1px}
.container_postbtn .postbtn_like .ico_postbtn{width:14px;height:14px;margin:8px 0 0}
.container_postbtn .postbtn_like .ico_like{margin:5px 1px 0 0;background-position:-100px -20px}
.container_postbtn .postbtn_like .empathy_up .ico_like{background-position:-20px 0}
.container_postbtn .postbtn_like .empathy_up_without_ani .ico_like{background-position:-20px 0}
.container_postbtn .postbtn_like .ico_sns{background-position:-40px 0}
.container_postbtn .postbtn_like .ico_report{background-position:-60px 0;line-height:30px}
.container_postbtn .postbtn_like .ico_statistics{width:13px;height:15px;margin:3px 0 0;background-position:-80px -40px}
.container_postbtn .postbtn_like .ico_share{width:13px;height:15px;margin:2px 0 0;background-position:-100px 0}
.container_postbtn .postbtn_like .ico_etc{height:4px;margin:8px 0 0;background-position:-120px 0}
.container_postbtn .postbtn_like .txt_like{font-family:AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif !important;font-size:12px;line-height:30px}
*/ /* 2019-01-18 삭제 */

/* 레이어 공통(2019-01-18 추가) */
.layer_post{display:none;position:absolute;z-index:1000;padding:9px 0;border-radius:1px;background:#fff;box-shadow:0 0 0 1px rgba(0,0,0,.1), 0 2px 5px rgba(0,0,0,.1);white-space:nowrap;-webkit-font-smoothing:antialiased}/* 2019-03-11 수정 */
.layer_post .btn_mark{display:block;width:100%;padding:7px 18px;font-family:"Noto Sans DemiLight",AppleSDGothicNeo,"Malgun Gothic","맑은 고딕","돋움",dotum,sans-serif !important;font-size:13px;line-height:16px;color:#333;text-align:left;box-sizing:border-box;text-decoration:none;}/* 2019-03-08 수정 */
.layer_post .btn_mark:hover{background-color:#F5F5F5}
.layer_post .ico_arrt{position:absolute;top:-8px;left:8px;width:14px;height:8px;background-position:-160px 0}
.layer_post .ico_arrbt{position:absolute;bottom:-10px;left:4px;width:20px;height:10px;background-position:-140px 0}
.container_postbtn .layer_post{padding: 9px 0}

/* 우측 ccl */
.container_postbtn .postbtn_ccl{float:right;position:relative;padding-top:8px}
.container_postbtn .link_ccl{display:block;height:16px;font-size:0 !important}
.container_postbtn .bundle_ccl{display:block}
.bundle_ccl .ico_postbtn{width:16px;height:16px;margin-left:2px}
.bundle_ccl .ico_ccl1{background-position:0 -40px}
.bundle_ccl .ico_ccl2{background-position:-20px -40px}
.bundle_ccl .ico_ccl3{background-position:-40px -40px}
.bundle_ccl .ico_ccl4{background-position:-60px -40px}
.layer_ccl{display:none;position:absolute;padding:8px 20px 16px 17px;border-radius:1px;background:#fff;box-shadow:0 0 0 1px rgba(0,0,0,.1), 0 2px 5px rgba(0,0,0,.1);white-space:nowrap}/* 2019-03-06 수정 */
.layer_ccl .txt_mark{display:block;padding-top:8px;font-family:"Noto Sans DemiLight",AppleSDGothicNeo,"Malgun Gothic","맑은 고딕","돋움",dotum,sans-serif !important;font-size:13px !important;line-height:16px;color:#333}
.layer_ccl .ico_postbtn{margin:0 5px 0 0}
.layer_ccl .ico_arrbt{position:absolute;right:0;bottom:-10px;width:20px;height:10px;background-position:-140px 0}/* 2019-01-18 수정 */

/* 공유하기 레이어 */
/* 2019-01-18 추가 */
.ico_sns ,
.bundle_ccl .ico_sns{display:inline-block;overflow:hidden;background:url(//t1.daumcdn.net/tistory_admin/static/admin/editor/ico_sns_type1.png) no-repeat;font-size:0 !important;line-height:0;text-indent:-9999px;vertical-align:top}
.layer_post .ico_sns{margin:2px 10px 0 0}/* 2019-03-08 수정 */
.layer_post .ico_ks{margin:0 11px 0 2px}/* 2019-03-08 수정 */
.layer_post .ico_kt{margin-right:9px}/* 2019-03-08 수정 */
.layer_post .ico_tw{margin-right:7px}/* 2019-03-08 수정 */
.layer_post .ico_url{margin-right:9px}/* 2019-03-08 수정 */
.ico_fb{width:12px;height:12px;background-position:0 0}
.ico_kt{width:12px;height:11px;background-position:-20px 0}
.ico_ks{width:8px;height:14px;background-position:-20px -20px}
.ico_tw{width:14px;height:11px;background-position:0 -20px}
.ico_url{width:12px;height:12px;background-position:-30px -20px}
/* END 2019-01-18 추가 */

/*.layer_sns{display:none;position:fixed;top:0;left:0;right:0;bottom:0;z-index:9999}
.layer_sns .bg_layer{position:fixed;top:0;left:0;right:0;bottom:0;background:url(//t1.daumcdn.net/tistory_admin/static/admin/editor/bg_layer.png) repeat 0 0}
.layer_sns .ico_sns{display:block;overflow:hidden;width:48px;height:48px;background:url(//t1.daumcdn.net/tistory_admin/static/admin/editor/ico_sns.png) no-repeat;vertical-align:top;text-indent:-9999px;cursor:pointer}
.layer_sns .btn_close{position:absolute;top:50%;left:50%;padding:10px;margin:-57px 0 0 112px;border:0 none;background:transparent;cursor:pointer;display:block}
.layer_sns .ico_close{width:12px;height:12px;background-position:-150px 0}
.layer_sns .list_sns{position:absolute;top:50%;left:50%;width:267px;height:116px;margin:-62px 0 0 -149px;padding:1px 0 0 29px;border-radius:1px;border:1px solid #465468;background:#fff;list-style:none;box-sizing:content-box}
.layer_sns .list_sns li{float:left;margin:32px 16px 0 0;list-style:none}
.layer_sns .ico_fb{background-position:0 0}
.layer_sns .ico_kt{background-position:-50px 0}
.layer_sns .ico_ks{background-position:-100px 0}
.layer_sns .ico_tw{background-position:0 -50px}
.layer_sns .ico_cafe{background-position:-50px -50px}
.layer_sns .ico_url{width:50px;height:50px;margin:-1px;background-position:-99px -49px}*/
/* 2019-01-18 삭제 */

/* 툴팁(2019-01-18 추가) */
.layer_tooltip{overflow:hidden;position:fixed;bottom:20px;border-radius:3px;background-color:rgba(0,0,0,.7);display:none;left:50%;transform: translate(-50%, 0);z-index:10000}
.layer_tooltip .inner_layer_tooltip{padding:12px 0 14px}
.layer_tooltip .inner_layer_tooltip .desc_g{padding:0 24px;font-size:14px !important;line-height:14px;font-family:"Noto Sans DemiLight",AppleSDGothicNeo,"Malgun Gothic","맑은 고딕","돋움",dotum,sans-serif !important;color:#fff}
.layer_tooltip .inner_layer_tooltip .btn_close{position:absolute;top:10px;right:20px;width:20px;height:20px;padding:5px;box-sizing:border-box}
.layer_tooltip .inner_layer_tooltip .ico_close{width:10px;height:10px;background-position:-100px -40px}

/* 레티나 이미지 */
@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
not all, only screen and (min-resolution: 144dpi),
only screen and (min-resolution: 1.5dppx){
    .container_postbtn .ico_postbtn, .container_postbtn .btn_menu_toolbar .img_common_tistory,
    .bundle_ccl .ico_postbtn{background-image:url(//t1.daumcdn.net/tistory_admin/static/admin/editor/r2/ico_postbtn_190118.png);background-size:180px 60px}/* 2019-02-28 수정 */
    /*.layer_sns .ico_sns{background-image:url(//t1.daumcdn.net/tistory_admin/static/admin/editor/r2/ico_sns.png);background-size:170px 100px}*//* 2019-01-18 삭제 */
    .ico_sns ,
    .container_postbtn .ico_sns,
    .bundle_ccl .ico_sns{background-image:url(//t1.daumcdn.net/tistory_admin/static/admin/editor/r2/ico_sns_type1.png);background-size:50px 40px;}/* 2019-01-30 수정 */
}
#head h2{margin-bottom:0;}
#head h2 + .post-meta{margin-top:10px;margin-bottom:40px;}
#head .post-meta{color:#AAA;}
#head .post-meta .my_edit .ico_more{fill:#aaa;}
#head .post-meta .meta-date::before{content:"";display:inline-block;width:1px;height:9px;margin:0 9px;background-color:#b3b3b3;vertical-align:middle;}
.area_view .article_header .inner_header .info{display:inline-block;}
.hgroup .post-meta .my_edit::before{display:none;}
.hgroup .post-meta .layer_edit::before{display:none;}
.post-cover .meta .my_edit::before{display:none;}
.inner-header .box-info{opacity:1;}
.inner-header .writer{opacity:0.7;}
.inner-header .date{opacity:0.7;}
.post-cover .meta .my_edit a::before,.post-cover .meta .my_edit span::before{display:none;}
.post-cover .meta .my_edit .ico_more{opacity:0.6;}
.area_title .info_post .my_edit .ico_more{fill:#a7a7a7;}
.skin_view .txt_detail .my_edit .ico_more{fill:#aaa;}
.my_edit{display:inline-block;position:relative;}
.my_edit button{border:0 none;background-color:transparent;cursor:pointer;outline:none;vertical-align:middle;}
.my_edit .ico_postbtn{background-image:url(//t1.daumcdn.net/tistory_admin/static/admin/editor/r2/ico_postbtn_220822.png);background-size:180px 60px;}
.my_edit .btn_etc{display:inline-block;width:20px;height:20px;margin:0 0 3px 4px;padding:0;vertical-align:middle;}
.my_edit .ico_more{fill:#808080;}
.my_edit.white .ico_more{fill:#fff;}
.my_edit .layer_edit{display:none;position:absolute;left:-43px;top:30px;z-index:1000;padding:8px 0;white-space:nowrap;-webkit-font-smoothing:antialiased;border:1px solid #ECECEC;border-radius:2px;background-color:#fff;box-shadow:0 2px 6px 0 rgba(0,0,0,0.12);}
.my_edit .layer_edit.layer_open{display:block;}
.my_edit .layer_edit .btn_g{display:block;width:110px;padding:8px 16px;font-family:"Noto Sans DemiLight",AppleSDGothicNeo,"Malgun Gothic","맑은 고딕","돋움",dotum,sans-serif;font-size:13px;color:#333;line-height:1;box-sizing:border-box;text-align:left;text-decoration:none;}
.my_edit .layer_edit .btn_g:hover,.my_edit .layer_edit .btn_g:active{background:rgba(0,0,0,0.04);text-decoration:none;}
.my_edit .layer_edit .ico_arrb{position:absolute;left:46px;top:-10px;width:20px;height:10px;background-position:-120px -50px;}
